<h2> <%= t("decidim.system.custom_templates.new_organization_template",template: template.fields["name"]) %> </h2>

<%= decidim_form_for(@form, url:  decidim_system.custom_templates_path(template_id: template_id)) do |f| %>
  <div class="field">
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :reference_prefix %>
  </div>

  <div class="field">
    <%= f.text_field :host %>
  </div>

  <div class="field">
    <%= f.text_field :organization_admin_name %>
  </div>

  <div class="field">
    <%= f.email_field :organization_admin_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>