<h2>Organization form</h2>

<%= decidim_form_for(@form, url:  decidim_system.custom_templates_path(template: template)) do |f| %>
  <div class="field">
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :host %>
  </div>

  <div class="field">
    <%= f.text_field :organization_admin_name %>
  </div>

  <div class="field">
    <%= f.email_field :organization_admin_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>